*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.App{
  display: flex;
  text-align: center;
  flex-direction: column;
  background: green;
}
body{
  background: green;
}

h1{
  color: white;
  margin-bottom: 10px;
}

h2{
  text-decoration: underline;
}

.register-form{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.users{
  display: flex;
  justify-content: center;
  align-items: center;
}

.new-users{
  width: 45%;
}

.current-users{
  width: 45%;
}

.new-users, .current-users{
  color: white;
  margin-left: 10px;
  margin-top: 20px;
}
.form-input{
  margin-left: 10px;
  margin-bottom: 10px;
  border: none;
  outline: none;
  padding: 5px 10px 5px 10px;
  border-radius: 10px;
  font-size: 17px;
}

button{
  border: none;
  outline: none;
  background: white;
  color: green;
  border-radius: 10px;
  padding: 5px 5px 5px 5px;
  margin-left: 10px;
}